<div class="small-box-container row">
    <div class="col-4" style="padding-right: 60px;" [routerLink]="'/Budget'">
        <div class="small-box bg-danger">
            <div class="inner">
                <h4>Budget</h4>
            </div>
            <div class="icon">
                <i class="bi bi-currency-rupee"></i>
            </div>
        </div>
    </div>
    <div class="col-4" style="padding-right: 60px;" [routerLink]="'/IncomeExpense'">
        <div class="small-box bg-success">
            <div class="inner">
                <h4>Income/Expense</h4>
            </div>
            <div class="icon">
                <i class="bi bi-cash-coin"></i>
            </div>
        </div>
    </div>
    <div class="col-4" style="padding-right: 60px;" [routerLink]="'/IncomeExpenseSummary'">
        <div class="small-box bg-info">
            <div class="inner">
                <h4>Income/Expense Summary</h4>
            </div>
            <div class="icon">
                <i class="bi bi-currency-exchange"></i>
            </div>
        </div>
    </div>
</div>