<div class="row">
    <div class="col-4 offset-4">
        <form>
            <h4>Budget</h4>
            <div class="form-group">
                <label>Monthly</label>
                <input type="number" name="monthly" class="form-control" [(ngModel)]="budget.monthly">
            </div>
            <div class="form-group">
                <label>Yearly</label>
                <input type="number" name="yearly" class="form-control" [(ngModel)]="budget.yearly">
            </div>
            <div class="pt-3">
                <button class="btn btn-primary" (click)="saveBudget()">Save</button>
            </div>
        </form>
    </div>
</div>